---
---

@import "{{ site.theme }}";



/* assets/css/style.css */
a {
  display: inline-block;            /* lets you style background nicely */
  background-color: #D9A3A0;        /* your custom background */
  color: #000;                      /* readable text color */
  padding: 6px 10px;
  border-radius: 5px;
  text-decoration: none;
}


